<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Nodejs</title>
</head>

<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="/upload">Upload file</a>
    </div>

    <div class="upload-file-contener">
        <form enctype="multipart/form-data" method="POST" action="/upload-profile-pic">
            <div>
                <label for="">Image</label>
                <input type="file" name="profile_pic">
            </div>
            
            <div>
                <button type="submit" class="btn-save">Save file</button>
            </div>
        </form>

        <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
            <div>
                <label>Select multiple images:</label>
                <input type="file" name="multiple_images" multiple />
            </div>
            <div>
                <input type="submit" name="btn_upload_multiple_images" value="Upload" />
            </div>
        </form>
    </div>
</body>

</html>